Ajay-ADF/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Ajay-ADF"
		},
		"bluecore449_fs_sftp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ssimax_tmobile"
		},
		"layer3_s3_aws_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAI466LBKQQGAT4WWQ"
		},
		"batchadobeload_batchservice_azure_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "devrzrimpwu2batch0"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/bluecore449_fs_sftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SFTP connection to Blue core partner ",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "triggermail.exavault.com",
					"port": 22,
					"skipHostKeyValidation": false,
					"hostKeyFingerprint": "ssh-rsa 2048 0e:ce:3e:a2:be:7e:45:1f:0b:dd:c5:41:e0:96:c9:b7",
					"authenticationType": "Basic",
					"userName": "[parameters('bluecore449_fs_sftp_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "razr_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "sftp-bluecore-password"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/layer3_s3_aws')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "AWS S3 bucket for Layer3 data",
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"accessKeyId": "[parameters('layer3_s3_aws_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "razr_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "aws-layer3tvprod-accesskey"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/T1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "C0",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1000,
						"startTime": "2018-10-05T21:44:59.856Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P261333477')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "2dd",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"asd": "asd"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureBlob1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hsdssf",
				"activities": [
					{
						"name": "Wait1New",
						"description": "Some wait description",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "Some user property name",
								"value": "some user property value"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 40
						}
					},
					{
						"name": "Wait23334",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1New",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "3",
								"value": "3"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Wait3InMaster",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1New",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlob1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"parameters": {
					"Param1": {
						"type": "String",
						"defaultValue": "Value1"
					},
					"Parm2": {
						"type": "Int",
						"defaultValue": 2
					}
				},
				"folder": {
					"name": "Pipelines222"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1NewChanged1234",
						"description": "Some wait description",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "Some user property name",
								"value": "some user property value"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 40
						}
					},
					{
						"name": "Wait23334",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1NewChanged1234",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "3",
								"value": "3"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Wait3InMaster",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1NewChanged1234",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlob1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"parameters": {
					"Param1": {
						"type": "String",
						"defaultValue": "Value1"
					},
					"Parm2": {
						"type": "Int",
						"defaultValue": 2
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WaitAa",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlob2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline22')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WaitAa",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Get Metadata1",
						"description": "c",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlob1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Pipelines222"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/layer3_s3_aws_account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "layer3_s3_aws",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AmazonS3Object",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "created",
						"type": "String"
					},
					{
						"name": "lineup",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "originator.trackingcode",
						"type": "String"
					},
					{
						"name": "originator.type",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "offer",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "dma",
						"type": "String"
					},
					{
						"name": "subscription.plan.id",
						"type": "String"
					},
					{
						"name": "billing_start",
						"type": "String"
					},
					{
						"name": "last_disconnect",
						"type": "String"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "isp",
						"type": "String"
					},
					{
						"name": "scheduled_billing_start",
						"type": "String"
					},
					{
						"name": "group",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"key": "mongo/acme/acme_accounts.csv",
					"prefix": "",
					"bucketName": "layer3tv-prod-domo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/layer3_s3_aws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/batchadobeload_batchservice_azure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Batch Service for accessing datasets mounted on blob storage account where Adobe loads the Clickstream data",
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('batchadobeload_batchservice_azure_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "razr_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dev-batchservice-accesskey"
					},
					"batchUri": "https://devrzrimpwu2batch0.westus2.batch.azure.com",
					"poolName": "devrzrimpwu2batch0-pool0",
					"linkedServiceName": {
						"referenceName": "adobeload_blobstore_azure",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/T1_GIT')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "P4",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1000,
						"startTime": "2018-10-05T22:44:00.856Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipeline1",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2018-10-01T21:30:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}