Ajay-ADF/PartialArmTemplates/ArmTemplate_10_2_2018_21_46_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Ajay-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1NewChanged123",
						"description": "Some wait description",
						"type": "Wait",
						"userProperties": [
							{
								"name": "Some user property name",
								"value": "some user property value"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 40
						}
					},
					{
						"name": "Wait23334",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1NewChanged123",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "3",
								"value": "3"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Wait3InMaster",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1NewChanged123",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"parameters": {
					"Param1": {
						"type": "String",
						"defaultValue": "Value1"
					},
					"Parm2": {
						"type": "Int",
						"defaultValue": 2
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WaitAa",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlob2",
								"type": "DatasetReference"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "joio",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline324')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "joio",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 100
						}
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline325')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait144",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 100
						}
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://arsundaKV.vault.azure.net/"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Stopped",
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-09-24T22:39:49.28Z",
						"timeZone": "UTC"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DE')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Stopped",
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-09-24T22:40:28.394Z",
						"timeZone": "UTC"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/XWZ')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Stopped",
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-09-24T22:42:35.437Z",
						"timeZone": "UTC"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger145454545445')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sdaasdasdasd",
				"runtimeState": "Stopped",
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-09-20T00:09:00Z",
						"timeZone": "UTC"
					}
				}
			}
		}
	]
}